body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family:"Plus Jakarta Sans", sans-serif;
}
nav{
    background-color: blue;
    display: flex;
    height: 45px;
    width: 100%;
}
li{
    display: inline;
    color: white;
} 

li a {
    color: white;
    text-decoration: none;
    font-family:"Plus Jakarta Sans", sans-serif;
}

ul{
    display: flex;
    gap: 30px;
}
header{
    display: flex;
}
header .left{
    width: 600px;
    background-color: red;
    display: flex;
    padding: 25px;
}
header .left img{
    width: 600px;
    height: 300px;
    object-fit: cover;
    object-position: 15% 10%;
}
header .right{
    width: 100%;
    background-color: purple;
    color: white;
    display: flex;
    padding: 25px;
    font-size: 150%;
}
header .right h1 span{
    color: darkgoldenrod; 
}

section#card_1{
    display: flex;
    background-color: rgb(163, 233, 193);
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    font-size: 50px;
    font weight: bold;
}
article#card_2{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    padding: 25px;
    gap: 20px;
    font-size: 25px;
    font-weight: normal;
}

article#card_2 #judul{
    background-color: beige;
    display: flex;
    padding: 20px;
}
article#card_2 #deskripsi{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
article#card_2 #img{
    width: 800px;
    height: 500px;
}

footer{
    display: flex;
    padding: 25px;
    font-size: 20px;
    background-color: bisque;
    color: black;
    justify-content: center;
}